body {
  background: url(https://www.toptal.com/designers/subtlepatterns/uploads/swirl_pattern.png) repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
}

body.popup-shown {
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.content__search {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  width: 80%;
  background-color: transparent;
}

.content__user-info {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  width: 100%;
}

.search__form {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  width: 100%;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(----border-radius);
  font-size: 16px;
  background-color: white;
  background: url('https://img.icons8.com/material-outlined/48/search-database.png') 10% 10%
      no-repeat,
    white;
  background-position: 5px 5px;
  background-size: 30px;
  padding: 12px 20px 12px 40px;
}

.form__button {
  width: calc(20% - 10px);
  min-width: 60px;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  color: white;
  background-color: rgb(50, 159, 50);
  cursor: pointer;
}

.search__list {
  display: flex;
  flex-flow: row wrap;
  width: 99.48%;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
