body{
  background: url(https://www.toptal.com/designers/subtlepatterns/uploads/swirl_pattern.png) repeat;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.content__search {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.781);
}

.content__user-info {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  width: 100%;
}

.search__form {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  width: 100%;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background: url('https://img.icons8.com/material-outlined/48/search-database.png') 10% 10% no-repeat;
  background-position: 5px 5px; 
  background-size: 30px;
  padding: 12px 20px 12px 40px;
}

.form__button {
  width: calc(20% - 10px);
  min-width: 60px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 19px;
  background: rgba(0, 0, 0, 0);
}

.search__list {
  display: flex;
  flex-flow: row wrap;
  width: 99.48%;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
